body {
  margin: 0%;
}
.biriyani {
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
  padding: 20px;
}
.biriyani img {
  height: 200px; /* Set the desired height */
  width: auto;
}
li a {
  text-decoration: none;
}

.head {
  background-color: rgb(212, 182, 143);
  padding-top: 2px;
  margin: 0;
  padding-left: 10%;
}

.cb {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 100%;
  background-color: rgb(165, 81, 42);
  margin-bottom: 3%;
}

.cb img {
  height: 200px; /* Set the desired height */
  width: auto;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
}

p {
  font-size: large;
}
li::marker {
  color: rgb(197, 112, 43);
}
.cbi li {
  font-size: large;
}
.bp {
  background-color: rgb(214, 161, 123);
  margin-left: 0;
  padding-left: 20px;
  font-size: 30px;
}

.foot {
  background-color: rgb(226, 125, 43);
  margin: 0%;
  height: 30%;
  display: flex;
  align-content: center;
  justify-content: center;
}
